%h1 Home#index

.row-fluid
  .span6
    %h2 Personaje Fijo
    
    %ul
      %li Paladin
      %li Espada

    = link_to t('.attack',default:'Attack!'), fixed_attack_path, class: 'btn btn-large'

    - unless @personaje.nil?
      %strong
        = @personaje.atacar

  .span6
    %h2 Personaje Dinámico

    = form_tag attack_path do
      = label_tag :personaje
      = select_tag :personaje,options_for_select(@personajes)

      = label_tag :arma
      = select_tag :arma,options_for_select(@armas)

      .form-actions
        = submit_tag t('.attack',default:'Attack!'), class: 'btn btn-large'

    - unless @instance_personaje.nil?
      %strong
        = @instance_personaje.atacar

= debug(@instance_personaje)

%p Find me in app/views/home/index.html.haml
