!!!
%html
  %head
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %title= content_for?(:title) ? yield(:title) : 'Rpg Min'
    %meta{:name => "description", :content => "#{content_for?(:description) ? yield(:description) : 'Rpg Min'}"}
    = stylesheet_link_tag "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body
    -# application layout styled for Bootstrap 2.3
    %header
      = render 'layouts/navigation'
    %main{:role => "main"}
      .container-fluid
        = render 'layouts/messages'
        = yield
    %footer
